* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #5dabf0;
}

.tela-login {
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 90px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

input {
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover {
    background-color: #5dabf0;
    cursor: pointer;
}